<div class="payment">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <div class="payment-system-name">
      <div class="form-group payment-system-input">
        <label for="payment-system">Payment System Name</label>
        <input type="text" class="form-control" name="payment-system" id="payment-system" required [(ngModel)]="payment.paymentSystem">
      </div>
    </div>
    <br>
    <div class="gateway">
      <h3 class="custom-heading">Gateway</h3>
      <div class="form-group">
        <label for="payment-type">Payment Type</label>
        <select [(ngModel)]="payment.paymentType" class="form-control" id="payment-type" name="payment-type">
          <option *ngFor="let type of paymentType" [ngValue]="type.name">{{type.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="merchant-account-id">Merchant Account Id</label>
        <input type="text" class="form-control" id="merchant-account-id" name="merchant-account-id" required [(ngModel)]="payment.merchantAccountId">
      </div>
      <div class="form-group">
        <label for="salt">Salt</label>
        <input type="text" class="form-control" id="salt" name="salt" required [(ngModel)]="payment.salt">
      </div>
      <div class="form-group">
        <label for="key">Key</label>
        <input type="text" class="form-control" id="key" name="key" required [(ngModel)]="payment.key">
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required [(ngModel)]="payment.username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="payment.password">
      </div>
    </div>
    <br>
    <div class="apply-for">
      <h3 class="custom-heading">Apply For</h3>
      <div class="form-check">
        <input type="checkbox" [(ngModel)]="payment.enableDelivery" (change)="payment.enableDelivery != payment.enableDelivery"   name="enable-delivery" class="form-check-input" id="enable-delivery">
        <label class="form-check-label" for="enable-delivery">Enable Delivery</label>
      </div>
      <div class="form-check">
        <input type="checkbox" [(ngModel)]="payment.enablePickUp" (change)="payment.enablePickUp != payment.enablePickUp"  name="enable-pick-up" class="form-check-input" id="enable-pick-up">
        <label class="form-check-label" for="enable-pick-up">Enable PickUp</label>
      </div>
      <div class="form-check">
        <input type="checkbox" [(ngModel)]="payment.tableReservation" (change)="payment.tableReservation != payment.tableReservation" name="table-reservation" class="form-check-input" id="table-reservation">
        <label class="form-check-label" for="table-reservation">Table Reservation</label>
      </div>
    </div>
    <br>
    <div class="form-group">
      <input type="submit" class="btn btn-outline-primary">
    </div>
  </form>
</div>
