
.payment-system-input{
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  padding: 0 10px;
}
.gateway,.apply-for{
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;

}
.custom-heading{
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 5px;
}
