/* You can add global styles to this file, and also import other style files */
body{
  margin: 0 ;
  padding: 0;
}
.main{
  border: 1px solid blue;
  margin:0 auto;
  display: block;
  width: 500px;
  padding: 30px;
  background-color: #f5f5f5;
}
